//header
.site-nav {
  text-align: center;

  ul {
    margin: 1em 0;
    list-style: none;
  }

  li {
    display: inline-block;
    margin: 0 0.5em;
    font-size: 1.5em;
  }
}

.site-title a {
  color: #000;
  &:hover {
    text-decoration: none;
  }
}

.site-header {
  padding: 2em 0 0;
  border-bottom: 1px solid #ccc;
  background: url('../img/home-bg.jpg') no-repeat;
  background-size: cover;
  text-align: center;
}

//footer

.site-footer {
  padding: 2em 0 0;
  background: $grey-color-dark;
  color: white;
}

.footer-content {
  float: left;
  width: 40;
  font-size: 0.875em;

  h3 {
    text-align: left;
  }
}

.social-media {
  float: right;
  li {
    display: inline-block;
    margin: 0 0.5em;
  }
}

// sections

.site-section {
  @extend %clearfix; //prevents sections from collapsing on each other
}

.site-section-latest {
  padding-top: $h1-font-size;
  padding-bottom: $h1-font-size;
}