.post-list {
  @extend %clearfix; //prevents sections from collapsing on each other
  list-style: none;
}

.post {
  float: left;
  width: 50%;
  padding: 0 3em 1em;

  &:nth-child(even) {
    clear: both;
  }
}

.post-read-more {
  text-align: center;
}

.post-featured {
  float: none;
  margin: 0 auto;
}

// Styling for projects and post home pages

.post-header {
  text-align: center;
}

.post-title {
  margin: 0;
}

.post-meta {
  color: $blue-color;
  font-size: $h4-font-size;
}

.post-body {
  width: 90%;
  max-width: 40em;
  margin: $h2-font-size auto;

  h1, h2, h3, h4 {
    max-width: 80%;
    margin: $h2-font-size auto;
  }
}