---
layout: default
---

<article class="site-section site-section-latest">
  <header class="post-header">
    <h1 class="post-title"> {{ page.title }} </h1>
    <p class="post-meta">
      posted on {{ page.date | date: "%b %-d, %Y" }}
    </p>
    {% if page.featured_img %}
      <div class="post-image">
        <img src="{{ page.featured_img }}" alt="{{ page.title }} featured image">
      </div>
    {% endif %}

    {% if page.live-link %}
      <div class="post-link">
        <a href="{{ page.live-link }}" target="_blank"><strong>{{ page.live-link }}</strong></a>
      </div>
    {% endif %}
  </header>

  <div class="post-body">
    {{ content }}

    <div class-"post-comments">
      {% if page.comments %}
        <h4>Comments</h4>
        <div id="disqus_thread"></div>
          <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'tgreenidge';
            
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>
          <noscript>
            Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
          </noscript>
      {% endif %}
    </div>
  
  </div>
  
</article>